---
import { getCollection, render } from 'astro:content'
import { Icon } from 'astro-icon/components'

import MainLayout from '@/layouts/MainLayout.astro'
import Comment from '@/components/Comment.astro'
import { genDescription } from '@/utils/genDescription'
import { siteConfig } from '@/config'

export async function getStaticPaths() {
    const zones = await getCollection('zone')
    return zones.map((zone) => ({
        params: { slug: zone.id },
        props: { zone },
    }))
}

const { zone } = Astro.props
const { Content } = await render(zone)
const title = zone.data.title?.trim()
const description = genDescription(zone.body)

const formatDate = (date: Date) => {
    const value = new Date(date)
    const year = value.getFullYear()
    const month = String(value.getMonth() + 1).padStart(2, '0')
    const day = String(value.getDate()).padStart(2, '0')
    return year + '-' + month + '-' + day
}
---

<MainLayout title={title || '说说' + ' - ' + siteConfig.title} description={description}>
    <div class="r-content r-zone-content">
        <div class="r-info">
            <Icon name="mdi:calendar-blank-outline" width={20} height={20} />
            {formatDate(zone.data.pubDate)}
        </div>
        {title && <div class="r-title">{title}</div>}

        <div class="r-prose">
            <Content />
        </div>
    </div>

    <Comment />
</MainLayout>

