@import url('./variables.less');

// 自定义类，需以r-开头，防止冲突
.r-container { // 需要左右间距的容器
    max-width: @layout-container-max-width;
    margin: 0 15%;
}
@media screen and (min-width: calc(@layout-container-max-width + 30%)) {
    .r-container {
        margin: 0 auto;
    }
}
.r-grow {
    flex-grow: 1;
}
.r-content { // 屏幕右侧主内容区
    width: 100%;
    min-height: 50vh;
    background-color: @color-content-bg;
    border-radius: @layout-content-border-radius;
    padding: 8px @layout-content-padding @layout-content-padding;
    position: relative;
    z-index: -1;

    .r-header { // 内容区标题
        position: relative;

        .r-header-wrapper { // 页头内容的内层包装器，通过修改 wrapper 以兼容封面
            margin: 24px 0 16px;
            padding-bottom: 24px;
            border-bottom: 2px solid @color-theme;
        }

        .r-title { // 黑色大标题
            font-size: 36px;
            font-weight: 700;
            margin-bottom: 0;
        }
        .r-subtitle { // 小标题，可选
            font-size: 17px;
            color: @color-secondary;
            margin: 4px 0 10px;
        }
        .r-info { // 小标题下面的信息栏
            display: flex;
            flex-direction: row;
            gap: 3.5em;
            margin: 6px 0 0;
            color: @color-secondary;

            span {
                display: flex;
                align-items: center;
                gap: 6px;
            }
        }
    }
    // 如果页头有封面图
    &:has(.r-header .r-cover) {
        padding: 0 0 @layout-content-padding; // 去掉整个页面内边距，防止封面左右白边
        .r-header-wrapper { // 通过设置内层 wrapper 的 margin，防止封面上面白边
            margin: 0 @layout-content-padding;
            padding-top: (3 / 4 * @layout-content-cover-height);
            padding-bottom: 24px;
        }
        .r-prose {
            padding: 8px @layout-content-padding 0;
        }
        .r-cover {
            position: absolute;
            z-index: -1;
            border-radius: @layout-content-border-radius;
            width: 100%;
            height: @layout-content-cover-height;
            object-fit: cover;
            mask-image: linear-gradient(to bottom, #000, transparent)
        }
    }

    // 正文内容
    // 图片格式
    .r-prose {
        line-height: @layout-line-height;
        img {
            display: block;
            border-radius: @layout-border-radius;
            margin: 16px auto 24px;
            max-width: @layout-img-max-width;
            max-height: @layout-img-max-height;
        }
    }

    // 代码块复制按钮
    .r-code-scroll {
        overflow-x: auto;
        margin: -16px -24px;
        padding: 16px 24px;
    }
    .r-copy-btn {
        position: absolute;
        top: 8px;
        right: 8px;
        z-index: 10;
        display: inline-flex;
        align-items: center;
        padding: 10px;
        border-radius: 6px;
        background-color: rgba(72, 72, 72, .7);
        color: #eee;
        border: 0;
        font-size: 12px;
        cursor: pointer;
        transition: all (@anim-duration + 0.1s) ease;
    }
    .r-copy-btn:hover,
    .r-copy-btn[data-state='copied'] {
        background-color: darken(@color-theme, 15%);
        color: #fff;
    }

    .r-admonition { // 提示框
        margin: 16px 0;
        padding: 0px 16px;
        border-left: 4px solid @color-note;
        .r-admonition-title {
            font-weight: 600;
            color: @color-note;
        }
        p {
            line-height: 1.6;
            margin: 9px 0;
        }
    }
    .r-admonition-note {
        border-left-color: @color-note;
        .r-admonition-title {
            color: @color-note;
        }
    }
    .r-admonition-tip {
        border-left-color: @color-tip;
        .r-admonition-title {
            color: @color-tip;
        }
    }
    .r-admonition-important {
        border-left-color: @color-important;
        .r-admonition-title {
            color: @color-important;
        }
    }
    .r-admonition-warning {
        border-left-color: @color-warning;
        .r-admonition-title {
            color: @color-warning;
        }
    }
    .r-admonition-caution {
        border-left-color: @color-caution;
        .r-admonition-title {
            color: @color-caution;
        }
    }
}
@media screen and (max-width: 600px) {
    .r-container {
        padding: 0 16px;
    }
}
