/* 此样式表用于全局初始化 */

@import url('./fonts.less');
@import url('./variables.less');

/* 页面全局 ------ BEGIN */
html {
    font-family: @font-base;
    line-height: 1.6;
    color: @color-text;
    background-color: @color-bg;
    view-transition-name: none;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}
::selection {
    background-color: @color-theme-light;
}

// 换页动画效果
::view-transition-old(root),
::view-transition-new(root) {
    animation: none;
}

::view-transition-old(main) {
    animation: main-fade-out 0.3s ease both;
}

::view-transition-new(main) {
    animation: main-fade-in 0.3s ease both;
}

@keyframes main-fade-in {
    from {
        opacity: 0;
        transform: translateY(-10px);
    }
    33% {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes main-fade-out {
    from {
        opacity: 1;
        transform: translateY(0);
    }
    66% {
        opacity: 0;
        transform: translateY(-10px);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

@media (prefers-reduced-motion: reduce) {
    ::view-transition-old(main),
    ::view-transition-new(main) {
        animation: none;
    }
}
/* 页面全局 ------ END */

/* 基本段落 ------ BEGIN */
// 标题
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 16px 0;
    font-weight: 600;
    line-height: 1.5;
    scroll-margin-top: 72px;
}
a {
    color: @color-text;
    text-decoration: none;
}

// 段落
p,
ul,
ol,
blockquote {
    line-height: @layout-line-height;
    margin: @layout-p-margin;
    a {
        position: relative;
        padding: 2px;
        z-index: 1;
        color: @color-theme-dark;
        border-bottom: 1px dotted @color-border;
    }
    a::before { // 悬停a标签的背景效果
        content: '';
        position: absolute;
        background-color: @color-theme-light;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: -1;
        height: 0;
        transition: all .1s ease;
        border-radius: 4px;
    }
    a:hover::before {
        height: 100%;
    }
    p {
        margin: 0;
    }
}
// 列表
ul {
    list-style-type: disc;
}
li::marker { // 列表标记符颜色
    color: @color-theme-dark;
}
// 引用
blockquote {
    border-left: 4px solid @color-theme;
    padding-left: 16px;
    color: darken(@color-theme-dark, 25%);
}
// 图标
svg {
    color: inherit;
}
/* 基本段落 ------ END */

/* 表格 ------ BEGIN */
table {
    width: 90%;
    border-collapse: collapse;
    thead {
        border-bottom: 2px solid @color-border;
    }
    tbody tr {
        border-bottom: 1px solid @color-border;
    }
    th, td {
        padding: 8px 1em;
        text-align: left;
        vertical-align: middle;
    }
}
/* 表格 ------ END */

/* 任务列表样式 ------ BEGIN */
.contains-task-list {
    list-style: none;
    padding-left: 10px;
    input {
        margin-right: .25em;
    }
    input[type="checkbox"]:checked {
        background-color: @color-theme;
    }
}
/* 任务列表样式 ------ END */

/* 代码块 ------ BEGIN */
pre {
    padding: 16px 24px;
    border-radius: 8px;
    line-height: 1.5;
    position: relative;
    max-width: 100%;
    overflow-x: auto;
    overflow-y: visible;
    overscroll-behavior: auto;
    code {
        display: inline-block;
        max-width: 0;
    }
}
code {
    font-family: @font-code;
    font-size: 14px;
}
p code, li code {
    background-color: @color-theme-light;
    color: @color-theme-dark;
    padding: 2px 4px;
    border-radius: 6px;
}
/* 代码块 ------ END */
