@import url('./variableConst.less');
@import url('./variableMob.less');
@import url('./variablePc.less');

// 自定义类，需以r-开头，防止冲突
.r-container {
    // 需要左右间距的容器
    max-width: @layout-container-max-width;
    margin: 0 var(--layout-container-margin);
}
main.r-container {
    max-width: @layout-container-max-width;
    margin: 0 var(--layout-content-margin);
}
@media screen and (min-width: calc(@layout-container-max-width + 30%)) {
    // 屏幕宽度超出最大宽度就居中
    .r-container {
        margin: 0 auto;
    }
}
.r-grow {
    flex-grow: 1;
}
.r-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    cursor: pointer;
}

// 屏幕右侧主内容区
.r-content {
    width: 100%;
    min-height: 50vh;
    background-color: @color-content-bg;
    border-radius: @layout-content-border-radius;
    padding: 8px var(--content-padding) @layout-content-padding;
    position: relative;
    z-index: -1;

    // 主页 content 显示卡片需要背景透明
    &.r-index-content {
        background-color: transparent;
        display: flex;
        flex-direction: column;
        gap: @layout-content-spacing;
    }

    // 分类链接
    .r-category {
        color: @color-theme-dark;
        border-bottom: 1px dotted @color-border;
    }

    .r-header {
        // 内容区标题
        position: relative;

        .r-header-wrapper {
            // 页头内容的内层包装器，通过修改 wrapper 以兼容封面
            margin: 14px 0 16px;
            padding-bottom: 24px;
            border-bottom: 2px solid @color-theme;
        }

        .r-title {
            // 黑色大标题
            font-size: var(--content-title-font);
            font-weight: 700;
            margin-bottom: 0;
        }
        .r-description {
            // 小标题，可选
            font-size: var(--content-description-font);
            line-height: 1.4;
            color: @color-secondary;
            margin: 4px 0 10px;
        }
        svg {
            // 所有图标
            color: @color-secondary;
        }
        .r-info {
            // 小标题下面的信息栏
            display: flex;
            flex-direction: row;
            font-size: var(--content-info-font);
            gap: var(--content-info-gap);
            margin-top: 6px;
            color: @color-secondary;
        }
        .r-item {
            // 信息栏中的每一项
            display: flex;
            align-items: center;
            gap: 4px;
        }
    }
    // 如果页头有封面图
    &:has(.r-header .r-cover) {
        padding: 0 0 var(--content-padding); // 去掉整个页面内边距，防止封面左右白边
        .r-header-wrapper {
            // 通过设置内层 wrapper 的 margin，防止封面上面白边
            margin: 0 var(--content-padding);
            padding-top: calc((3 / 4) * var(--content-cover-height));
            padding-bottom: 24px;
        }
        .r-prose {
            padding: 8px var(--content-padding) 0;
        }
        .r-cover {
            position: absolute;
            z-index: -1;
            border-radius: @layout-content-border-radius;
            width: 100%;
            height: var(--content-cover-height);
            object-fit: cover;
            mask-image: linear-gradient(to bottom, #000, transparent);
        }
    }

    // 代码块复制按钮
    .r-code-scroll {
        overflow-x: auto;
        margin: -16px -24px;
        padding: 16px 24px;
    }
    .r-copy-btn {
        position: absolute;
        top: 8px;
        right: 8px;
        z-index: 10;
        display: inline-flex;
        align-items: center;
        padding: 10px;
        border-radius: 6px;
        background-color: rgba(72, 72, 72, 0.7);
        color: #eee;
        border: 0;
        font-size: 12px;
        cursor: pointer;
        transition: all (@anim-duration + 0.1s) ease;
    }
    .r-copy-btn:hover,
    .r-copy-btn[data-state='copied'] {
        background-color: darken(@color-theme, 15%);
        color: #fff;
    }

    .r-admonition {
        // 提示框
        margin: 16px 0;
        padding: 0px 16px;
        border-left: 4px solid @color-note;
        .r-admonition-title {
            font-weight: 600;
            color: @color-note;
        }
        p {
            line-height: 1.6;
            margin: 9px 0;
        }
    }
    .r-admonition-note {
        border-left-color: @color-note;
        .r-admonition-title {
            color: @color-note;
        }
    }
    .r-admonition-tip {
        border-left-color: @color-tip;
        .r-admonition-title {
            color: @color-tip;
        }
    }
    .r-admonition-important {
        border-left-color: @color-important;
        .r-admonition-title {
            color: @color-important;
        }
    }
    .r-admonition-warning {
        border-left-color: @color-warning;
        .r-admonition-title {
            color: @color-warning;
        }
    }
    .r-admonition-caution {
        border-left-color: @color-caution;
        .r-admonition-title {
            color: @color-caution;
        }
    }
}
