@import url('./variableConst.less');

@media screen and (min-width: @layout-mobile-breakpoint) {
    .r-not-pc {
        display: none !important;
    }
    :root {
        // 布局
        --layout-container-margin: 15%;
        --layout-content-margin: 15%;
        --layout-content-flex: row;
        --layout-sidebar-width: 240px;
    }
}
