@import url('./variableConst.less');

@media screen and (max-width: @layout-mobile-breakpoint) {
    .r-not-mob {
        display: none !important;
    }
    :root {
        // 布局
        --layout-container-margin: 18px;
        --layout-content-margin: 0;
        --layout-content-flex: column-reverse;
        --layout-sidebar-width: 100%;

        // 页头
        --header-font: 16px;
        --header-padding: 7px 0;

        // banner
        --banner-title-font: 34px;

        // 页脚
        --footer-font: 12px;

        // 返回页顶按钮
        --back-to-top-right: 18px;
        --back-to-top-bottom: 32px;
        --back-to-top-size: 48px;

        // 主页卡片
        --index-card-margin: 20px;
        --index-card-font: 14.5px;
        --index-card-catalog-font: 20px;
        --index-card-footer-spacing: 8px;
        --index-card-tag-gap: 6px;

        // 文章页
        --content-font: 15px;
        --content-cover-height: 200px;
        --content-info-font: 13px;
        --content-tag-font: 12px;
        --content-padding: var(--layout-container-margin);
        --content-title-font: 28px;
        --content-info-font: 14px;
        --content-info-gap: 18px;
        --content-img-max-width: 100%;
        --content-img-max-height: 500px;
        --content-nav-flex: column;
    }
}
