@import url('./variableConst.less');

@media screen and (max-width: @layout-mobile-breakpoint) {
    .r-not-mob {
        display: none !important;
    }
    :root {
        // 布局
        --layout-container-margin: 24px;
        --layout-content-margin: 0;
        --layout-content-flex: column-reverse;
        --layout-sidebar-width: 100%;
        --layout-back-to-top-right: 32px;
        --layout-back-to-top-bottom: 32px;
    }
}
