@import url('./variableConst.less');

@media screen and (min-width: @layout-mobile-breakpoint) {
    .r-not-pc {
        display: none !important;
    }
    :root {
        // 布局
        --layout-container-margin: 15%;
        --layout-content-margin: 15%;
        --layout-content-flex: row;
        --layout-sidebar-width: 240px;

        // 页头
        --header-font: 20px;
        --header-padding: 12px 0;

        // banner
        --banner-title-font: 40px;

        // 页脚
        --footer-font: 15px;

        // 返回页顶按钮
        --back-to-top-right: 36px;
        --back-to-top-bottom: 112px;
        --back-to-top-size: 64px;

        // 主页卡片
        --index-card-margin: @layout-content-padding;
        --index-card-font: 16px;
        --index-card-catalog-font: 24px;
        --index-card-footer-spacing: 12px;
        --index-card-tag-gap: 0.75em;

        // 文章页
        --content-font: 16px;
        --content-info-font: 15px;
        --content-tag-font: 14px;
        --content-padding: @layout-content-padding;
        --content-title-font: 36px;
        --content-info-font: 16px;
        --content-info-gap: 3.5em;
        --content-img-max-width: 85%;
        --content-img-max-height: 650px;
        --content-nav-flex: row;
    }
}
