@import url('./variableConst.less');

@media screen and (min-width: @layout-mobile-breakpoint) {
    .r-not-pc {
        display: none !important;
    }
    :root {
        // 布局
        --layout-container-margin: 15%;
        --layout-content-margin: 15%;
        --layout-content-flex: row;
        --layout-sidebar-width: 240px;
        --layout-back-to-top-right: 36px;
        --layout-back-to-top-bottom: 112px;

        // 页头
        --header-font: 20px;
        --header-padding: 12px 0;

        // banner
        --banner-title-font: 40px;

        // 页脚
        --footer-font: 15px;

        // 主页卡片
        --index-card-margin: @layout-content-padding;
        --index-card-font: 16px;
        --index-card-catalog-font: 24px;
        --index-card-footer-spacing: 12px;
        --index-card-info-font: 15px;
        --index-card-tag-font: 14px;
        --index-card-tag-gap: 0.75em;
    }
}
