@import url('./variableConst.less');

@media screen and (max-width: @layout-mobile-breakpoint) {
    .r-not-mob {
        display: none !important;
    }
    :root {
        // 布局
        --layout-container-margin: 18px;
        --layout-content-margin: 0;
        --layout-content-flex: column-reverse;
        --layout-sidebar-width: 100%;
        --layout-back-to-top-right: 32px;
        --layout-back-to-top-bottom: 32px;

        // 页头
        --header-font: 16px;
        --header-padding: 7px 0;

        // banner
        --banner-title-font: 34px;

        // 页脚
        --footer-font: 12px;

        // 主页卡片
        --index-card-margin: 20px;
        --index-card-font: 14.5px;
        --index-card-catalog-font: 20px;
        --index-card-footer-spacing: 8px;
        --index-card-info-font: 13px;
        --index-card-tag-font: 11px;
        --index-card-tag-gap: 6px;
    }
}
