---
import { Icon } from 'astro-icon/components'

import MainLayout from '@/layouts/MainLayout.astro'
import Comment from '@/components/Comment.astro'

import { analyzeReading } from '@/utils/readingStat'

import AboutContent from '@/content/about.md'
import aboutRaw from '@/content/about.md?raw'

const pageTitle = '关于本站'
const stats = analyzeReading(aboutRaw)
---

<MainLayout title={`${pageTitle} - 云萧的咕咕屋`} description="关于这个博客和作者">
    <div class="r-content">
        <div class="r-header">
            <div class="r-title">{pageTitle}</div>
            <div class="r-info">
                <span>
                    <Icon name="mdi:clock-time-four-outline" width={20} height={20} />
                    {stats.minutes} 分钟
                </span>
                <span>
                    <Icon name="mdi:pencil-outline" width={20} height={20} />
                    {stats.estimatedChars} 字
                </span>
            </div>
        </div>

        <AboutContent />
    </div>

    <Comment />
</MainLayout>
