---
import { siteConfig } from '@/config'

let bgLight, bgDark, bgOpacity
if (siteConfig.background.enabled) {
    bgLight = `url("${siteConfig.background.url.light}")`
    bgDark = `url("${siteConfig.background.url.dark}")`
    bgOpacity = siteConfig.background.opacity
}
---

<div class="r-bg"></div>

<style lang="less" define:vars={{ 'bg-light': bgLight, 'bg-dark': bgDark, 'bg-opacity': bgOpacity }}>
    .r-bg {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        z-index: -1;
        background-image: var(--bg-light);
        opacity: var(--bg-opacity);
    }
    @media (prefers-color-scheme: dark) {
        .r-bg {
            background-image: var(--bg-dark);
        }
    }
</style>
