---
import { Image } from 'astro:assets'
import avatar from '@/assets/avatar.jpg'
---

<div class="r-card">
    <Image src={avatar} alt="博主头像" />
    <div class="r-title">云萧是个咕咕怪</div>
    <div class="r-description">大一狗，在前端路上奋斗的废物一个</div>
</div>

<style lang="less">
    @import url('@/styles/variables.less');
    .r-card {
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        height: auto;
        width: 240px;
        background-color: #fff;
        border-radius: @layout-content-border-radius;
        padding: (@layout-content-padding / 1.4);

        img {
            width: 96px;
            height: 96px;
            border-radius: 50%;
        }

        .r-title {
            margin: 12px 0;
            font-size: 20px;
            font-weight: 600;
        }

        .r-description {
            font-size: 15px;
            color: @color-secondary;
        }
    }
</style>