---
import { getCollection } from 'astro:content'

import { siteConfig } from '@/config'

const articles = await getCollection('posts')
const categoryMap = new Map<string, number>()

articles.forEach((article) => {
    const category = article.data.category
    if (category) {
        categoryMap.set(category, (categoryMap.get(category) || 0) + 1)
    }
})
const categories = Array.from(categoryMap.entries()).map(([name, count]) => ({ name, count }))
---
        <div class="r-card">
            <div class="r-title">分类</div>
            <div class="r-list">
                {
                    categories.map(({ name, count }) => (
                        <a class="r-item" href={`/posts${siteConfig.isWithExt ? '.html' : ''}?category=${encodeURIComponent(name)}`}>
                            <span class="r-name">{name}</span>
                            <span class="r-count">{count}</span>
                        </a>
                    ))
                }
            </div>
        </div>

<style lang="less">
    @import url('@/styles/variableConst.less');

    .r-card {
        background-color: #fff;
        border-radius: @layout-content-border-radius;
        padding: (@layout-content-padding / 1.4) 12px;

        &.empty {
            display: flex;
            align-items: center;
            justify-content: center;
        }

        .r-title {
            font-weight: 600;
            margin: 0 0 10px 10px;
        }

        .r-list {

            .r-item {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 5px 10px;
                font-size: 15px;
                margin-top: var(--side-category-margin);
                border-radius: @layout-border-radius;
                transition: all @anim-duration ease;

                .r-count {
                    font-size: 14px;
                    background-color: @color-theme-light;
                    width: 24px;
                    height: 24px;
                    border-radius: 50%;
                    color: @color-theme-dark;
                    text-align: center;
                }

                &:hover {
                    background-color: @color-theme-light;
                    * {
                        color: @color-theme-dark;
                    }
                }
                &:active {
                    background-color: @color-card-active;
                    transform: scale(.95);
                }
            }
        }
    }
</style>
