---
import { Icon } from 'astro-icon/components'

const { title, pubDate, url, Content, ...rest } = Astro.props

const formatDate = (date: Date) => {
    const value = new Date(date)
    const year = value.getFullYear()
    const month = String(value.getMonth() + 1).padStart(2, '0')
    const day = String(value.getDate()).padStart(2, '0')
    return year + '-' + month + '-' + day
}
---

<div class="r-card" {...rest}>
    <div class="r-quote">
        <Icon name="mdi:format-quote-open" />
    </div>
    { title && (
        <div class="r-title">{title.trim()}</div>
    )}

    <div class="r-prose">
        <Content />
    </div>
    <div class="r-footer">
        <span class="r-date">
            <Icon name="mdi:calendar-blank-outline" width={16} height={16} />
            {formatDate(pubDate)}
        </span>
        <a href={url} class="r-link">
            <Icon name="mdi:arrow-right-thick" width={20} height={20} />
        </a>
    </div>
</div>

<style lang="less">
    @import url('@/styles/variableConst.less');

    .r-card {
        position: relative;
        background-color: #fff;
        line-height: 1.5;
        padding: var(--index-card-padding);
        padding-bottom: 16px;
        border-radius: @layout-content-border-radius;
        font-size: var(--index-card-font);
        // 引号标志
        .r-quote {
            position: absolute;
            top: -12px;
            left: 8px;
            width: 44px;
            height: 32px;
            border-radius: 16px;
            padding: 4px 2px 4px 12px;
            background-color: @color-theme;
            color: #fff;
        }

        // 标题
        .r-title {
            font-size: calc(var(--index-card-catalog-font) * 0.85);
            font-weight: 600;
        }

        // 页脚
        .r-footer {
            display: flex;
            justify-content: space-between;
            align-items: center;

            // 日期
            .r-date {
                display: inline-flex;
                align-items: center;
                gap: 4px;
                color: @color-secondary;
                font-size: calc(var(--index-card-font) - 0.5px);
                white-space: nowrap;
            }
            // 链接
            .r-link {
                width: 40px;
                height: 40px;
                display: inline-flex;
                align-items: center;
                justify-content: center;
                border: 1px solid @color-theme;
                border-radius: 50%;
                color: @color-theme;
                transition: all @anim-duration ease;
                &:hover {
                    background-color: @color-theme;
                    color: #fff;
                }
            }
        }
    }
</style>
