---
---

<div class="r-comment">
    <p class="r-empty">尚未开启评论功能，敬请期待</p>
</div>

<!-- 评论系统 -->
<link rel="stylesheet" href="https://p0-artalk.api.crrashh.com/dist/Artalk.css">
<script is:inline src="https://p0-artalk.api.crrashh.com/dist/Artalk.js"></script>
<script is:inline>
    const initArtalk = () => {
        Artalk.init({
            el: '.r-comment',
            server: 'https://p0-artalk.api.crrashh.com',
            site: 'Rudeus 文档'
        })
    }
    initArtalk()

    // 注：Astro 视图切换后需重新初始化
    document.addEventListener('astro:page-load', initArtalk)
    document.addEventListener('astro:after-swap', initArtalk)
</script>

<style lang="less">
    @import url('@/styles/variables.less');

    .r-comment {
        margin: @layout-content-spacing 0 0;
        padding: @layout-content-padding;
        background-color: #fff;
        border-radius: @layout-content-border-radius;

        p.r-empty {
            text-align: center;
            margin: @layout-content-padding 0;
        }

        --at-color-main: @color-theme;
    }
</style>