---
---

<div class="r-comment">
    <p class="r-empty">尚未开启评论功能，敬请期待</p>
</div>

<script is:inline>
    const initComment = () => {
        // 评论系统初始化
    }
    initComment()

    // 注：Astro 视图切换后需重新初始化
    document.addEventListener('astro:page-load', initComment)
    document.addEventListener('astro:after-swap', initComment)
</script>

<style lang="less">
    @import url('@/styles/variableConst.less');

    .r-comment {
        margin: @layout-content-spacing 0 0;
        padding: var(--content-padding);
        background-color: #fff;
        border-radius: @layout-content-border-radius;

        p.r-empty {
            text-align: center;
            margin: @layout-content-padding 0;
        }

        :global(img[atk-emoticon], .atk-item img) {
            max-height: 36px !important;
        }

        --at-color-main: @color-theme-dark;
        --waline-theme-color: @color-theme-dark;
        --waline-active-color: @color-theme;
        --waline-badge-color: @color-theme;
    }
</style>