---
---

<div class="r-comment">
    尚未支持评论功能，敬请期待
</div>

<style lang="less">
    @import url('@/styles/variables.less');

    .r-comment {
        margin: @layout-content-spacing 0 0;
        padding: 60px;
        background-color: #fff;
        border-radius: @layout-content-border-radius;
        text-align: center;
    }
</style>