---

---

<footer>
    <div class="r-container">
        <p>&copy; 2020-2026 crrashh1542.</p>
        <p>
            <a href="https://beian.miit.gov.cn" target="_blank">蜀ICP备2022029657号-2</a> |
            <a href="https://icp.gov.moe/?keyword=20220551">萌ICP备20220551号</a>
        </p>
        <p>
            <a href="https://github.com/crrashh1542/astro-theme-rudeus" target="_blank" class="theme">
                <b>Rudeus Theme</b>
            </a>
            by <a href="https://github.com/crrashh1542" target="_blank" class="theme">crrashh1542</a>
        </p>
    </div>
</footer>

<style lang="less">
    @import url('@/styles/variables.less');
    footer {
        margin-top: auto;
        padding: 1rem 0;
        text-align: center;
        font-size: 15px;
        background-color: #fff;

        .theme {
            color: @color-theme-dark;
        }

        p {
            margin: 0;
            line-height: 2;
        }

        a {
            color: @color-text;
        }
    }
</style>
