---
import { version } from '../../package.json'

import { footerConfig } from '@/config'
---

<footer>
    <div class="r-left">
        <p>{footerConfig.copyright}</p>
        <p set:html={footerConfig.message}></p>
    </div>
    
    <div class="r-right">
        <p>
            Powered by Astro &
            <a href="https://github.com/crrashh1542/astro-theme-rudeus" target="_blank" class="theme">
                Rudeus Theme
            </a> v{version}
        </p>
    </div>
    
</footer>

<style lang="less" is:global>
@import url('@/styles/variableConst.less');

footer {
    margin-top: auto;
    padding: 1rem var(--layout-container-margin);
    text-align: center;
    font-size: var(--footer-font);
    background-color: #fff;
    display: flex;
    flex-direction: var(--footer-flex);
    justify-content: space-between;

    .r-left {
        text-align: var(--footer-align);
    }

    .theme {
        color: @color-theme-dark;
    }
    p {
        margin: 0;
        line-height: 2;
    }

    a {
        color: @color-text;
    }
    a::before {
        visibility: hidden !important;
    }
}
</style>