<div class="r-title">404 NOT FOUND!</div>
<div class="r-tip">人神的使徒偷走了重要的东西 ( {'> <'} )</div>
<br>
<div class="r-operation">
    <a class="r-button" href="/">返回首页</a>
    <a class="r-button" onclick="window.history.back()">回到上页</a>
</div>

<style lang="less">
    @import url('@/styles/variables.less');
    .r-title {
        font-weight: 600;
        font-size: 36px;
        color: @color-theme-dark;
    }
    .r-tip {
        font-size: 18px;
        font-weight: 500;
    }
    .r-button {
        margin: 12px;
        padding: 10px 20px;
        border: 1px solid @color-border;
        border-radius: @layout-border-radius;
        cursor: pointer;
        transition: all @anim-duration ease;

        &:hover {
            background-color: @color-theme-light;
        }
    }
</style>