---
import { ClientRouter } from 'astro:transitions'
import 'modern-normalize/modern-normalize.css'

import BackToTop from '@/components/BackToTop.astro'

import '@/styles/resetPreset.less'
import '@/styles/resetCustom.less'

interface Props {
    title: string
    description: string
}

const { title, description } = Astro.props
---

<!DOCTYPE html>
<html lang="zh-CN">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <meta name="description" content={description} />
        <meta name="generator" content={Astro.generator} />
        <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
        <link rel="alternate" type="application/rss+xml" title="RSS" href="/rss.xml" />
        <title>{title}</title>
        <!-- 评论系统 -->
        <link rel="stylesheet" href="https://p0-artalk.api.crrashh.com/dist/Artalk.css">
        <script is:inline src="https://p0-artalk.api.crrashh.com/dist/Artalk.js"></script>
    </head>
    <body>
        <ClientRouter />
        <slot />
        <BackToTop />
    </body>
</html>
