---
import BaseLayout from './BaseLayout.astro'

import Background from '@/components/Background.astro'
import Header from '@/components/Header.astro'
import Footer from '@/components/Footer.astro'
import CardBlogger from '@/components/CardBlogger.astro'
import CardNav from '@/components/CardNav.astro'
import CardCategory from '@/components/CardCategory.astro'
import CardTags from '@/components/CardTags.astro'

import { siteConfig } from '@/config'

interface Props {
    title: string
    description: string
    sideNavEnabled?: boolean
}

const { title, description, sideNavEnabled = false } = Astro.props
---

<BaseLayout title={title} description={description}>
    {siteConfig.background.enabled && (
        <Background />
    )}

    <Header transition:persist />
    <main class="r-container">
        <!-- banner -->
        <div class="r-banner" transition:persist>
            <p class="r-title">{siteConfig.title}</p>
            <p class="r-subtitle">{siteConfig.subtitle}</p>
        </div>

        <div class="r-main-wrapper">
            <!-- 左侧功能栏 -->
            <div class="r-sidebar">
                <CardBlogger transition:persist />
                {sideNavEnabled && <CardNav transition:name="main" />}
                <CardCategory transition:persist />
                <CardTags transition:persist />
                <br>
            </div>

            <!-- 右侧内容区 -->
            <div class="r-content-wrapper" transition:name="main">
                <slot />
            </div>
        </div>
    </main>
    <Footer transition:persist />
</BaseLayout>

<script>
    import '@/utils/displayInfo'
    import '@/utils/runInlineScript'
    import '@/utils/copyCode'
    import '@/utils/postTagFilter'
</script>

<style lang="less">
    @import url('@/styles/variableConst.less');
    main {
        flex: 1;
    }

    .r-banner {
        text-align: center;
        padding: var(--banner-padding);
        margin-bottom: 1rem;

        .r-title {
            font-size: var(--banner-title-font);
            font-weight: 600;
            margin: var(--banner-title-margin);
            background: linear-gradient(135deg, @color-theme, @color-hover);
            -webkit-background-clip: text;
            -webkit-text-fill-color: transparent;
            background-clip: text;
        }

        .r-subtitle {
            font-size: 20px;
            margin: var(--banner-subtitle-margin);
            color: @color-secondary;
        }
    }

    .r-sidebar {
        width: var(--layout-sidebar-width);
        display: flex;
        flex-direction: column;
        gap: @layout-content-spacing;
        position: sticky;
        top: (72px + @layout-content-spacing);
        max-height: var(--layout-sidebar-max-height);
        overflow-y: hidden;
        scrollbar-width: none;
        &::-webkit-scrollbar {
            display: none;
        }
        &:hover {
            overflow-y: auto;
        }
    }

    .r-main-wrapper {
        display: flex;
        flex-direction: var(--layout-content-flex);
        gap: @layout-content-spacing;
        margin: var(--layout-main-margin);

        .r-content-wrapper {
            // display: flex;
            flex: 1;
        }
    }
</style>
